<div class="heading-container">
    <h1>
        My Profile
    </h1>
</div>
<div class="from-outer-wrapper">
    <div class="form-heading">
        <h2> Account Info </h2>
    </div>
    <form id="form-update-user" action="/user/profile" method="post">
        {{#if message}}
            <div class="alert-danger message-container">
                {{message}}
            </div>
            <br>
        {{/if}}
        <div class="form-group">
            <label for="firstname">First Name*</label>
            <input type="text" id="firstname" name="firstname" class="form-control" value="{{{user.firstname}}}">
        </div>
        <div class="form-group">
            <label for="lastname">Last Name*</label>
            <input type="text" id="lastname" name="lastname" class="form-control" value="{{{user.lastname}}}">
        </div>
        <div class="form-group">
            <label for="username">User Name*</label>
            <input type="text" id="username" name="username" class="form-control" value="{{{user.username}}}">
        </div>
        <div class="form-group">
            <label for="email">E-mail*</label>
            <input type="email" id="email" name="email" class="form-control" value="{{{user.email}}}">
        </div>
        <div class="btn-cta-wrapper signup-btn-wrapper">
            <button type="submit" class="btn btn-primary btn-style signup-action-btn">
                Apply
            </button>
        </div>
    </form>
</div>
<div class="from-outer-wrapper">
    <div class="form-heading">
        <h2> Change Password </h2>
    </div>
    <form id="form-change-password" action="/user/profile" method="post">
        {{#if message}}
            <div class="alert-danger message-container">
                {{message}}
            </div>
            <br>
        {{/if}}
        <div class="form-group">
            <label for="password">New Password*</label>
            <input type="password" id="password" name="password" class="form-control"">
        </div>
        <div class="btn-cta-wrapper signup-btn-wrapper">
            <button type="submit" class="btn btn-primary btn-style signup-action-btn">
                Apply
            </button>
        </div>
    </form>
</div>